
footer {
    background: radial-gradient(#f989b1 0%, #ff2600 100%);
    color: #333;
    text-align: center;
    padding: 20px 0;
}

header{
    background: radial-gradient(#f989b1 0%, #ff2600 100%);
        font: small-caps bold 24px/1 sans-serif;
}

a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none; /* Supprimer le soulignement par défaut */
  }
  
  a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }